## Drupal files

# Ignore configuration files that may contain sensitive information.
web/sites/*/settings*.php
web/sites/*/services*.yml

# Ignore paths that contain user-generated content.
web/sites/*/files
web/sites/*/private

# Ignore SimpleTest multi-site environment.
web/sites/simpletest

# Ignore core phpcs.xml and phpunit.xml.
web/core/phpcs.xml
web/core/phpunit.xml

## Nodejs files

node_modules