/*---------------------------------------------------------------
	LISTE
----------------------------------------------------------------*/
article {
  margin-bottom: 40px; }
  article .field--name-field-date time {
    float: left;
    margin-bottom: 15px; }
  article .field--name-field-event-type {
    float: left;
    margin-left: 15px;
    text-transform: uppercase; }
    article .field--name-field-event-type:before {
      content: '-';
      display: inline-block;
      background: #2b2828;
      line-height: 4px;
      width: 8px;
      height: 2px;
      margin-right: 15px;
      text-indent: -99999999em; }
  article h2 {
    clear: both;
    font-family: 'AvenirNext-Heavy';
    margin-bottom: 0; }
    article h2 a {
      color: #2b2828; }
  article .field--name-field-genre {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px; }
  article .field--name-field-doors-time {
    float: left; }
    article .field--name-field-doors-time > div {
      display: inline-block; }
  article .field--name-field-date {
    float: left; }
