// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

body {
  font-family: $font-family-base;
}


ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $gray-dark;
}

h1, {
  font-family: 'AvenirNext-Heavy';
  margin: 0;
}

img {
  border: 0;
  width: 100%;
  height: auto;
}

.field--label, b {
    font-weight: normal;
}

strong {
  font-family: 'AvenirNext-DemiBold';
}

.column {
  column-count: 2;
  @media only screen and (max-width: 580px) {
    column-count: 1;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Main content.
.main-container {
  padding-top: 60px;
  @media only screen and (max-width: 991px) {
    padding-top: 30px;
  }
  @media only screen and (max-width: 768px) {
    padding-top: 10px;
  }
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

/*---------------------------------------------------------------
  GENERALS
----------------------------------------------------------------*/
.btn {
  display: inline-block;
  padding: 14px 30px;
  text-transform: uppercase;
  background: white;
  color: $gray-dark;
  font-size: 14px;
  line-height: 19px;
  margin-right: 10px;
  border: 1px solid #ececec;
  vertical-align: inherit;
  &:hover {
    background: $action-color;
    color: white;
  }
  &:active, &:focus {
    background: white;
    color: $gray-dark;
    outline: 0;
    border: 1px solid #ececec;
  }
}


.btn.disable {
  background: transparent;
  border: 0;
  font-weight: 700;
  position: relative;
  padding: 14px 10px;
  margin-left: 20px;
  @media only screen and (max-width: 480px) {
    width: 62%;
    margin: 0 auto;
  }
  .field--name-field-sold-out {
    display: inline-block;
    padding-left: 5px;
    font-weight: 700;  
  }
  .field--name-field-prix {
    font-weight: 700;
    position: relative;
    &::after {
      border-bottom: 0.1em solid rgb(64, 64, 64);
      content: "";
      left: 0;
      line-height: 1em;
      margin-top: calc(0.125em / 2 * -1);
      position: absolute;
      right: 0;
      top: 50%;
    }
  }
  &:hover {
    color: inherit;
  }
  &:active, &:focus {
    box-shadow: none;
    background: transparent;
  }
  &.btn-vertical {
    float: right;
    text-align: center;
    min-width: 260px;
    margin-bottom: 20px;
    font-size: 16px;
    @media only screen and (max-width: 991px) {
      display: none;
    }
  }
  &.buy-content {
    display: none;
    @media only screen and (max-width: 991px) {
      display: block;
      font-size: 16px;
      margin: 0 auto;
      min-width: inherit;
      width: 100%;
      margin-bottom: 15px;
    }
  }
}


#socials {
  ul {
    padding:0;
    margin: 0;
    margin-top: 20px;
  }
  li {
    display: inline-block;
    margin-right: 8px;
    img {
      width: 34px;
      height: auto;
    }
  }
}

.view-listing-events .feed-icons {
  display: none;
}

//mailchimp form

#mc_embed_signup .mc-field-group {
  clear: left;
  position: relative;
  width: 96%;
  padding-bottom: 3%;
  min-height: 50px;
  input {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-indent: 2%;
  }
}

#mc-embedded-subscribe {
  clear: both;
  width: auto;
  display: block;
  margin: 1em 0 1em 5%;
  margin-left: 5%;
}


#mc_embed_signup input {
  border: 1px solid #ABB0B2;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#mc_embed_signup form {
    display: block;
    position: relative;
    text-align: left;
    padding: 0;
}

//footer
footer.footer {
  padding: 0;
  border: 0;
  .col-md-4 {
      @media only screen and (max-width: 992px) {
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid #eaeaea;
      }
      &.last {
        border: none;
        margin: 0;
        padding-bottom: 0; 
        h4 {
          margin-bottom: 20px;
        }       
      }    
  }
  .infos {
    background-color: white;
    padding: 45px 0;
    img.logo {
      width: 210px;
      margin-bottom: 30px;
    }
    p {
      margin-bottom: 20px;
      @media only screen and (max-width: 992px) {
        margin-bottom: 0;
      }
    }
    h3 {
      margin-bottom: 30px;
      margin-top: 0;
      @media only screen and (max-width: 768px) {
        margin-bottom: 15px;
      }
    }
    .relations {
      a {
        display: inline-block;
        margin-right: 30px;
        margin-bottom: 20px;
        @media only screen and (max-width: 992px) {
          margin-bottom: 0;
        }
        &.last {
          margin-bottom: 0;
        }
        @media only screen and (max-width: 768px) {
          margin-bottom: 0;
        }
        @media only screen and (max-width: 480px) {
          margin-right: 20px;
        }
      }
      img {
        max-width: 86%;
        height: auto;
        @media only screen and (max-width: 768px) {
          max-width: 100%;
        }
      }      
    }
  }

  .partenaires {
    background-color: #212121;
    padding: 40px 0;
    .col {
      float: left;
      width: 7.6%;
      padding: 0 0.4%;      
      @media only screen and (max-width: 992px) {
        width: 14.2%;
      }
      a {
        display: inline-block;
        cursor: pointer;
      }
      img {
          width: 100%;
          height: auto;
      }
    }
  }

  .credits {
    background-color: #f7f7f7;
    padding: 25px 0 15px 0;
    p, span {
      font-size: 13px;
      float: left;
      @media only screen and (max-width: 480px) {
        float: none;
      }
    }
    span {
      float: right;
      @media only screen and (max-width: 480px) {
        float: none;
        margin-bottom: 5px;
      }
    }
    a {
      img {
        width: 51px;
        margin-left: 3px;
        vertical-align: top;
        margin-top: -1px;
      }
    }
  }
}

//ouverture edition block
.contextual {
    z-index: 8888;
}

/*---------------------------------------------------------------
  PAGE FORMULAIRE INSCRIPTION
----------------------------------------------------------------*/
.webform-submission-form {
  width: 550px;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}


/*---------------------------------------------------------------
  ASSOCIATION
----------------------------------------------------------------*/
.association {
  img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  .step {
    margin-bottom: 40px;
  }
  strong {
    display: block;
  }
  .col-sm-8 {
    padding-right: 4%;
  }
  .col-sm-4 {
    p {
      margin-bottom: 20px;
    }
    h4 {
      margin: 20px 0;
    }
  }
}

/*---------------------------------------------------------------
  PAGE CARTE MEMBRE
----------------------------------------------------------------*/
.carte {
  a.btn {
    display: block;
    width: 280px;
    margin: 10px 0;
  }
  img {
    margin-bottom: 30px;
    width: 100%;
  }
  .col-sm-7 {
    margin-bottom: 40px;
  }
  li {
    margin-bottom: 8px;
  }
}

/*---------------------------------------------------------------
  PAGE BAR
----------------------------------------------------------------*/
.bar {
  .row {
    margin-bottom: 20px;
  }
  img {
    float: left;
    width: 49%;
    margin-right: 1%;
    margin-bottom: 1%;
  }
  .column {
    margin-bottom: 20px;
  }
  .pictures {
    margin-bottom: 10px;
  }
}

/*---------------------------------------------------------------
  PAGE BENEVOLES
----------------------------------------------------------------*/
.benevoles {
  margin-bottom: 30px;
  img {
    width: 100%;
    height: auto;
  }
  .col-sm-12 {
    margin-top: 30px;
    img {
      float: left;
      width: 49%;
      margin-right: 1%;
      margin-bottom: 1%;
      @media only screen and (max-width: 580px) {
        width: 100%;
      }
    }
  }
}

/*---------------------------------------------------------------
  CONTACT
----------------------------------------------------------------*/
//L'attente
.appart {
  margin-top: 60px;
  h2 {
    font-family: 'AvenirNext-Heavy';
    font-size: 36px;
    padding-bottom:20px;
  }
  a.btn {
    min-width: 270px;
    margin-bottom: 20px;
  }
  img {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }
}