/*---------------------------------------------------------------
	LISTE
----------------------------------------------------------------*/
article.event {
  margin-bottom: 30px;

  .field--name-field-event-type {
    position: relative;
    margin-left: 10px;
    text-transform: uppercase;
    &:before {
      content: '-';
      display: inline-block;
      background: $gray-dark;
      line-height: 4px;
      width: 8px;
      height: 2px;
      margin-right: 10px;
      text-indent: -99999999em;
    }
  }

  h2 {
    clear: both;
    font-family: 'AvenirNext-Heavy';
    margin-bottom: 0;
    //padding-bottom: 2px;
    margin-top: 10px;
    a {
      display: block;
      color: $gray-dark;
      line-height: 30px;
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
      }
    }
  }

  h1 {
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 6px;
    text-transform: uppercase;
  }

  .field--name-field-genre {
    font-size: 18px;
    text-transform: uppercase;
  }
  .free {
    padding: 14px 30px;
    text-transform: uppercase;
    color: #404040;
    margin-right: 10px;
    &:before,
    &:after {
      content:"–";
      padding-right:10px;
    }
    &:after {
      padding-left: 10px;
      padding-right:0;
    }
  }
  .event_time {
    font-size: 15px;
    color: #ababab;
    margin-top: 5px;
    margin-bottom: 15px;
    @media only screen and (max-width: 420px) {
      margin-bottom: 0;
    }
    span.field {
      padding-right: 3px;
    }
    b {
      padding-left: 3px;
    }
    .addtocalendar {
      margin-left: 15px;
      @media only screen and (max-width: 420px) {
        margin-left: 0;
        padding-top:5px;
        display: block;
      }
      a.atcb-link {
        color: #ababab;
        text-decoration: underline;
        &:hover {
          color: $action-color;
        }
      }
      ul.atcb-list {
        padding: 10px 20px;
        border: 1px solid #ececec;
        li {
          margin-bottom: 5px;
          a:hover {
            color: $action-color;
          }
        }
      }
    }
  }

  .field--name-field-main-image {
    margin-bottom: 25px;
  }

  .field--name-body {
    font-size: 16px;
  }

  a.btn {
    padding: 14px 30px;
    text-transform: uppercase;
    background: white;
    color: $gray-dark;
    font-size: 14px;
    line-height: 19px;
    margin-right: 10px;
    border: 1px solid #ececec;
    vertical-align: inherit;
    &:hover {
      background: $action-color;
      color: white;
    }
    .field--name-field-prix {
      display: inline-block;
    }
  }
}




/*---------------------------------------------------------------
  DETAIL
----------------------------------------------------------------*/
article.full {
  .col-md-12 {
    .addtocalendar {
      display: none;
    }
    .event_time {
      .addtocalendar {
        display: inline-block;
        @media only screen and (max-width: 420px) {
          margin-left: 0;
          padding-top:5px;
          display: block;
        }
      }
      span.field .field--item {
        padding: 0;
      }
    }
  }
  .field--name-body {
    margin-bottom: 30px;
  }
  a.btn-vertical {
    float: right;
    text-align: center;
    min-width: 260px;
    margin-left: 0;
    margin-bottom: 30px;
    padding: 20px;
    background: white;
    color: #404040;
    border: 1px solid #ececec;
    &:hover {
      background: $action-color;
      border: 1px solid $action-color;
      color: white;
    }
    @media only screen and (max-width: 991px) {
      float: left;
      min-width: inherit;
      width: 49%;
      margin-right: 2%;
      margin-bottom: 15px;
      padding: 15px;
      &:nth-child(2n+1) {
        margin-right: 0;
      }
    }
    @media only screen and (max-width: 590px) {
      min-width: inherit;
      width: 100%;
    }
  }
  a.whatsapp {
    display: none;
    @media only screen and (max-width: 991px) {
      display: block;
    }
  }
  a.buy-aside {
    display: block;
    font-weight: bold;
    @media only screen and (max-width: 991px) {
      display: none;
    }
  }
  a.buy-content {
    display: none;
    width: 49%;
    padding: 15px;
    margin-bottom: 40px;
    margin-right: 0;
    font-weight: bold;
    float: right;
    @media only screen and (max-width: 991px) {
      display: inline-block;
    }    
    @media only screen and (max-width: 590px) {
      min-width: inherit;
      width: 100%;
    }
  }
  .free.aside {
    float: right;
    text-align: center;
    min-width: 260px;
    margin-left: 0;
    margin-bottom: 20px;
    padding: 20px 0;
    font-size: 19px;
    &:before,
    &:after {
      content: '-';
      display: inline-block;
      background: #404040;
      line-height: 4px;
      width: 36%;
      height: 1px;
      margin-right: 5%;
      margin-left: 0;
      text-indent: -99999999em;
    }
    &:after {
      margin-right: 0;
      margin-left: 5%;
    }
    @media only screen and (max-width: 991px) {
      display: none;
    }
  }
  .free.content {
    display: none;
    padding: 20px 0;
    font-size: 19px;
    margin-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    &:before,
    &:after {
      content: '-';
      display: inline-block;
      background: #404040;
      line-height: 4px;
      width: 34%;
      height: 1px;
      margin-right: 5%;
      margin-left: 0;
      text-indent: -99999999em;
    }
    &:after {
      margin-right: 0;
      margin-left: 5%;
    }
    @media only screen and (max-width: 991px) {
      display: inline-block;
    }      
  }
}

.col-share {
    @media only screen and (max-width: 991px) {
      //border-top: 1px solid #ababab;
      //padding-top: 30px;
      margin-top: 40px;
    }
}

//galerie
.blazy {
  .field--item {
    //width: 50%;
  }
  .media--blazy {
    //min-height: 150px;
  }
}

//related content
section.block-views-blockrelated-event-block-1 {
  h2 {
    font-family: 'AvenirNext-Heavy';
    text-transform: uppercase;
    border-top: 2px solid $gray-dark;
    display: inline-block;
    padding-top: 10px;
    margin-bottom: 30px;
    margin-top: 40px;
  }
  .view-related-event {

  }
  .views-field-field-main-image {
    img {
      width: 100%;
    }
  }
}







