/*---------------------------------------------------------------
	LISTE
----------------------------------------------------------------*/
article.event {
  margin-bottom: 30px;

  .field--name-field-event-type {
    position: relative;
    margin-left: 10px;
    text-transform: uppercase;
    &:before {
      content: '-';
      display: inline-block;
      background: $gray-dark;
      line-height: 4px;
      width: 8px;
      height: 2px;
      margin-right: 10px;
      text-indent: -99999999em;
    }
  }

  h2 {
    clear: both;
    font-family: 'AvenirNext-Heavy';
    margin-bottom: 0;
    //padding-bottom: 2px;
    margin-top: 10px;
    a {
      display: block;
      color: $gray-dark;
      line-height: 30px;
      &:hover {
        text-decoration: none;
      }
    }
  }

  h1 {
    line-height: 30px;
    margin-top: 10px;
  }

  .field--name-field-genre {
    font-size: 18px;
    text-transform: uppercase;
  }

  .event_time {
    font-size: 15px;
    color: #ababab;
    margin-top: 15px;
    margin-bottom: 20px;
    span.field {
      padding-right: 3px;
    }
    b {
      padding-left: 3px;
    }
    .addtocalendar {
      margin-left: 15px;
      a.atcb-link {
        color: #ababab;
        text-decoration: underline;
        &:hover {
          color: $action-color;
        }
      }
      ul.atcb-list {
        padding: 10px 20px;
        li {
          margin-bottom: 5px;
          a:hover {
            color: $action-color;
          }
        }
      }
    }
  }

  .field--name-field-main-image {
    margin-bottom: 25px;
  }

  .field--name-body {
    font-size: 16px;
  }

  a.btn {
    padding: 14px 30px;
    text-transform: uppercase;
    background: white;
    color: $gray-dark;
    margin-right: 10px;
    &:hover {
      background: $action-color;
      color: white;
    }
    .field--name-field-prix {
      display: inline-block;
    }
  }
}




/*---------------------------------------------------------------
  DETAIL
----------------------------------------------------------------*/
article.event {
  .col-sm-12 {
    .field--name-field-date .addtocalendar {
      display: none;
    }
    .event_time {
      margin-bottom: 25px;
    }
  }
}

a.btn-vertical {
  float: right;
  text-align: center;
  min-width: 280px;
  margin-bottom: 20px;
  padding: 20px;
  background: #EAEAEB;
  border: #EAEAEB;
  &:hover {
    background: $action-color;
    color: white;
  }
}

//related content
section.block-views-blockrelated-event-block-1 {
  h2 {
    font-family: 'AvenirNext-Heavy';
    text-transform: uppercase;
    border-top: 2px solid $gray-dark;
    display: inline-block;
    padding-top: 10px;
    margin-bottom: 50px;
  }
  .view-related-event {

  }
}







