/*---------------------------------------------------------------
	LISTE
----------------------------------------------------------------*/
article.event {
  margin-bottom: 30px;

  .field--name-field-event-type {
    position: relative;
    margin-left: 10px;
    text-transform: uppercase;
    &:before {
      content: '-';
      display: inline-block;
      background: $gray-dark;
      line-height: 4px;
      width: 8px;
      height: 2px;
      margin-right: 10px;
      text-indent: -99999999em;
    }
  }

  h2 {
    clear: both;
    font-family: 'AvenirNext-Heavy';
    margin-bottom: 0;
    //padding-bottom: 2px;
    margin-top: 10px;
    a {
      display: block;
      color: $gray-dark;
      line-height: 30px;
      &:hover {
        text-decoration: none;
      }
    }
  }

  h1 {
    line-height: 30px;
    margin-top: 10px;
  }

  .field--name-field-genre {
    font-size: 18px;
    text-transform: uppercase;
  }
  .free {
    padding: 14px 30px;
    text-transform: uppercase;
    background: white;
    color: #c3c3c5;
    margin-right: 10px;
    border: 1px solid #ececec;
  }
  .event_time {
    font-size: 15px;
    color: #ababab;
    margin-top: 5px;
    margin-bottom: 15px;
    @media only screen and (max-width: 420px) {
      margin-bottom: 0;
    }
    span.field {
      padding-right: 3px;
    }
    b {
      padding-left: 3px;
    }
    .addtocalendar {
      margin-left: 15px;
      @media only screen and (max-width: 420px) {
        margin-left: 0;
        padding-top:5px;
        display: block;
      }
      a.atcb-link {
        color: #ababab;
        text-decoration: underline;
        &:hover {
          color: $action-color;
        }
      }
      ul.atcb-list {
        padding: 10px 20px;
        border: 1px solid #ececec;
        li {
          margin-bottom: 5px;
          a:hover {
            color: $action-color;
          }
        }
      }
    }
  }

  .field--name-field-main-image {
    margin-bottom: 25px;
  }

  .field--name-body {
    font-size: 16px;
  }

  a.btn {
    padding: 14px 30px;
    text-transform: uppercase;
    background: white;
    color: $gray-dark;
    font-size: 14px;
    line-height: 19px;
    margin-right: 10px;
    border: 1px solid #ececec;
    vertical-align: inherit;
    &:hover {
      background: $action-color;
      color: white;
    }
    .field--name-field-prix {
      display: inline-block;
    }
  }
}




/*---------------------------------------------------------------
  DETAIL
----------------------------------------------------------------*/
article.full {
  .col-md-12 {
    .addtocalendar {
      display: none;
    }
    .event_time {
      .addtocalendar {
        display: inline-block;
        @media only screen and (max-width: 420px) {
          margin-left: 0;
          padding-top:5px;
          display: block;
        }
      }
      span.field .field--item {
        padding: 0;
      }
    }
  }
  .field--name-body {
    margin-bottom: 40px;
  }
  a.btn-vertical,
  .free {
    float: right;
    text-align: center;
    min-width: 260px;
    margin-left: 0;
    margin-bottom: 30px;
    padding: 20px;
    background: white;
    color: #404040;
    border: 1px solid #ececec;
    &:hover {
      background: $action-color;
      border: 1px solid $action-color;
      color: white;
    }
    @media only screen and (max-width: 992px) {
      float: left;
      margin-right: 20px;
      margin-bottom: 15px;
      min-width: 220px;
      padding: 15px;
    }
    @media only screen and (max-width: 580px) {
      min-width: inherit;
      width: 100%;
    }
  }
  a.whatsapp {
    display: none;
    @media only screen and (max-width: 992px) {
      display: block;
    }
  }
  .free {
    background: white;
    color: #c3c3c5;
    border: 1px solid #ececec;
    &:hover {
      background: white;
      color: #c3c3c5;
      border: 1px solid #ececec;
    }
  }
}

//related content
section.block-views-blockrelated-event-block-1 {
  h2 {
    font-family: 'AvenirNext-Heavy';
    text-transform: uppercase;
    border-top: 2px solid $gray-dark;
    display: inline-block;
    padding-top: 10px;
    margin-bottom: 50px;
  }
  .view-related-event {

  }
}







