
@font-face {
  font-family: 'AvenirNext-Regular';
  src: url('../fonts/AvenirNext-Regular.eot');
  src: url('../fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNext-Regular.woff2') format('woff2'),
  url('../fonts/AvenirNext-Regular.woff') format('woff'),
  url('../fonts/AvenirNext-Regular.ttf') format('truetype'),
  url('../fonts/AvenirNext-Regular.svg#AvenirNext-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext-DemiBold';
  src: url('../fonts/AvenirNext-DemiBold.eot');
  src: url('../fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNext-DemiBold.woff2') format('woff2'),
  url('../fonts/AvenirNext-DemiBold.woff') format('woff'),
  url('../fonts/AvenirNext-DemiBold.ttf') format('truetype'),
  url('../fonts/AvenirNext-DemiBold.svg#AvenirNext-DemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AvenirNext-Heavy';
  src: url('../fonts/AvenirNext-Heavy.eot');
  src: url('../fonts/AvenirNext-Heavy.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNext-Heavy.woff2') format('woff2'),
  url('../fonts/AvenirNext-Heavy.woff') format('woff'),
  url('../fonts/AvenirNext-Heavy.ttf') format('truetype'),
  url('../fonts/AvenirNext-Heavy.svg#AvenirNext-Heavy') format('svg');
  font-weight: normal;
  font-style: normal;
}
