/*---------------------------------------------------------------
	HEADER
----------------------------------------------------------------*/


.navbar {
  position: relative;
  min-height: 50px;
    margin-top: 40px;
  margin-bottom: 20px;
  border: 0;
}

//logo.
.navbar-header {
  a.logo {
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 4px;
    img {
      width: 280px;
    }
  }
}

//navigation.
.navbar-default .navbar-nav {
  float: right;
  margin-top: 38px;
  @media only screen and (max-width: 1199px) {
    float: left;
    margin-top: 0;
  }
  >li {
    margin-right: 22px;
    &:last-child {
      margin-right: 0; 
    }
    >a {
      font-family: 'AvenirNext-Regular';
      font-size: 16px;
      letter-spacing: -0.1px;
      text-transform: uppercase;
      color: $gray-dark;
      padding: 0;
      padding-top: 12px;
      &:hover,
      &:focus {
        font-family: 'AvenirNext-Regular';
        border-top: 2px solid $gray-dark;
        padding-top: 10px;
        background: none;
        color: $gray-dark;        
      }
    }
    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      font-family: 'AvenirNext-DemiBold';
      border-top: 2px solid $gray-dark;
      padding-top: 10px;
      background: none;
      color: $gray-dark;
    }
  }
}
.region-navigation-collapsible {
  position: relative;
}
//Langue menu.
#block-languageswitcher {
  position: absolute;
  right: 0;
  top: 0;
  @media only screen and (max-width: 1199px) {
    top: 97px;
  }
  ul {
    padding: 0;
    li {
      list-style: none;
      display: inline;
      margin-left: 15px;
      font-size: 16px;
      text-transform: uppercase;
      &.is-active {
        font-family: 'AvenirNext-DemiBold';
      }
    }
  }
}


